body{
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 85%;
    margin: 0 auto;
}

.containerDigitarPost{
    background-color: var(--cinza5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
    max-width: 100%;
}

#userImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.containerDigitarPost__divFigureName{
    display: flex;
    gap: 10px;
    position: relative;
}

.containerDigitarPost__divFigureName h3{
    color: var(--cinza1);
    font-size: 16px;
}

.containerDigitarPost__divFigureName p{
    color: var(--cinza2);
}

.containerDigitarPost__seguidores{
    position: relative;
    top: 5px;
}

.containerDigitarPost__divFigureName > div{
    display: flex;
    flex-direction: column;
}

figure{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.containerDigitarPost__divText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonPostar{
    margin-top: 3%;
    align-self: flex-end;
}

.containerSugestoes{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 100%;
}

.containerSugestoes__ul{
    display: flex;
    flex-wrap: nowrap;
    overflow-x:auto;
}

.containerSugestoes__ul li{
    background-color: var(--cinza5);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    padding: 20px 20px 20px 0px;
}

.containerSugestoes__ul li div{
    display: flex;
}

.containerSugestoes__ul li div>div{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.containerSugestoes__ul h2{
    color: var(--cinza1);
    font-size: 16px;
}

.containerSugestoes__ul p{
    color: var(--cinza2);
}

.containerSugestoes__ul li button{
    margin-left: 7%;
}

.containerPosts{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 40px;
}

.containerPosts__ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerPosts__ul li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--cinza5);
    padding: 20px 20px 20px 0px;
}

.containerPosts__ul__imgEscrito{
    display: flex;
}

.containerPosts__ul__imgEscrito >div{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.containerPosts__ul__imgEscrito h2{
    color: var(--cinza1);
    font-size: 16px;
}

.containerPosts__ul__imgEscrito p{
    color: var(--cinza2);
}

.containerLike{
    display: flex;

}

.containerLike p{
    margin-top: 5%;
}

.postContent{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 4%;
}

.postContent .title1{
    font-size: 22px;
}

.postContent .text1{
    font-size: 14px;
}

.buttonsPost{
    display: flex;
    gap: 10px;
    margin-left: 4%;
}

.postsESugestoes{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.buttonLikeImg{
    width: 20px;
    height: 20px;
    border-radius: none;
}
.containerLike{
    position: relative;
}

.containerLike p {
    position: absolute;
    left: 30px;
    top: 2px;
}


@media(min-width: 560px){
    .containerPosts__ul__imgEscrito{
        margin-left: 2%;
    }
}
@media(min-width: 900px){

    .postsESugestoes{
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        margin-top: 150px;
    }

    .containerDigitarPost{
        width: 60%;
    }

    .containerSugestoes{
        width: 30%;
        position: fixed;
        right: 50px;
    }

    .containerSugestoes ul{
        flex-direction: column;
    }

    .containerSugestoes ul li{
        padding: 30px 30px 30px 0px;
        flex-direction: row;
        max-width: 100%;
        justify-content: space-between;
        
    }

    .containerSugestoes ul li > div{
        margin-left: 3%;
    }

    header{
        position: fixed;
    }
    
    .containerPosts{
        width: 60%;
    }

    .containerPosts__ul__imgEscrito{
        margin-left: 2.5%;
    }

 
}







