.modalIndex {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.modalIndex div {
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    height: 150px;
    color: white;
    background-color: var(--azulClaro);
    justify-content: space-between;
}

.modalIndex div button {
    align-self: flex-end;
    padding: 8px;
}

.containerModalPost {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;

}

.containerModalPost>div {
    position: absolute;
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    height: 150px;
    gap: 30px;
    background-color: var(--white);
    height: min-content;
}

.imgEscrito {
    display: flex;
}

.imgEscritoEbutton {
    display: flex;
    justify-content: space-between;
}

.nomeProfissao {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.imgEscrito h3 {
    color: var(--cinza1);
    font-size: 16px;
}

.imgEscrito p {
    color: var(--cinza2);

}

.containerModalPost__escritoPost {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.containerModalPost button {
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--cinza2);
    background-color: var(--cinza5);
    position: absolute;
    right: 20px;
}

.containerModalPost .title1 {
    font-size: 22px;
}

.containerModalPost .text1 {
    font-size: 14px;
}

@media (min-width:700px) {
    .containerModalPost>div {
        width: 40%;
    }

    .modalIndex div {
        width: 40%;
        position: absolute;
        right: 20px;
        top: 73%;
    }
}